:root {
	--color-bg: #fffaef;
	--color-text: #383838;
	--color-sedans: #FFA726;
	--color-suvs: #009688;
	--color-luxury: #004D40;

	--font-header: "Oswald", sans-serif;
	--font-body: "Lato", sans-serif;
}

body {

	margin: 0;

	color: var(--color-text);
	font-family: var(--font-body);
	background-color: #D4F1F4;
}

img {
	width: 4vw;
}

#conteneur {
	display: flex;
	width: 60%;
	height: 100%;
	text-align: left;
	justify-content: center;
	margin: auto;
	margin-top: 10%;

}

.sedans {
	display: flex;
	flex-direction: column;
	background-color: var(--color-sedans);
	color: var(--color-bg);
	padding: 30px;
	justify-content: center;
	align-items: center;
}

.suvs {
	display: flex;
	flex-direction: column;
	background-color: var(--color-suvs);
	color: var(--color-bg);
	padding: 30px;
	justify-content: center;
	align-items: center;
}


.luxury {
	display: flex;
	flex-direction: column;
	background-color: var(--color-luxury);
	color: var(--color-bg);
	padding: 30px;
	justify-content: center;
	align-items: center;
}

.bsedans {
	color: var(--color-sedans);
	transition: color .2s ease-in-out;
}

.bsuvs {
	color: var(--color-suvs);
	transition: color .2s ease-in-out;
}

.bluxury {
	color: var(--color-luxury);
	transition: color .2s ease-in-out;
}

button {
	all: unset;
	border: 1px solid var(--color-bg);
	background-color: var(--color-bg);
	transition: color .2s ease-in-out;

	border-radius: 20px;
	padding: 8px 15px;

	cursor: pointer;
}

button:hover {
	background-color: grey;
	color: white;
	transition: color .2s ease-in-out;
}

.reveal {
	opacity: 0;
	transform: translateY(-10px);
}

.reveal-visible {
	opacity: 1;
	transform: translateY(0);
	transition: 1s ease-in-out;
}


@media screen and (max-width: 700px) {
	#conteneur {
		flex-direction: column;
	}
}
